.header {
    background: $colour-primary;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
    &__logo {
        font-size: 3rem;
        color: $colour-black;
        margin-left: 3rem;
        @include heading-shadow($colour-white);
    }
}