ol{
    list-style-type: none;
    counter-reset: compteur;
}

ol li{
    margin-top: 1rem;
    counter-increment: compteur;
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius:45px;
    box-shadow: 0px 5px 5px #999;
}

ol li::before{
    margin-left: -0.5rem;
    margin-right: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    content: counter(compteur);
    color: #fff;
    border: 2px solid $colour-primary;
    background-color: $colour-primary;
    border-radius:45px;
}