.menu {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
}

.menu-img {
    margin-right: -0rem;
}

.menu-body {
    background-color: $colour-background-light;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    margin-top: -50px;
    
    @include media-min("desktop-up"){
        margin-top: -30rem;
    }
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0rem 1rem;

    i {
        font-size: 23px;
    }
}

.menu-composition {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem 1rem 4rem 1rem;
}

.menu-detail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media-max("tablet-up"){
        flex-direction: column;
    }

    @include media-min("tablet-up"){
        justify-content: space-around;
    }
    
}


.meals {
    @include meals;

    h3{
        margin: 0rem;
    }

    @include media-max("tablet-up"){
        width: 100%;
    }

    @include media-min("tablet-up"){
        width: 45%;
    }

    @include media-min("desktop-up"){
        width: 31%;
    }
}

.last__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;

    p{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include media-min("desktop-up") {
            padding-right: 20px;
        }
    }

    span {
        margin: 0px 5px;
    }
}
  
.cross {
    @include cross;
}

.line{
    width: 40px;
    border: 2px solid $colour-tertiary;
    margin-bottom: .3rem;
}