.vignets-fadein-entree {
    @include menu-anim;
}

.vignets-fadein-plat {
    @include menu-anim;
}

.vignets-fadein-dessert {
    @include menu-anim;
}

@for $i from 1 through 4 {
    .vignets-fadein-entree:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
    }
    .vignets-fadein-plat:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
    }
    .vignets-fadein-dessert:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
    }
}

@keyframes fadein {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

