.vignets-fadein-entree {
    @include menu-anim;
}

.vignets-fadein-plat {
    @include menu-anim;
}

.vignets-fadein-dessert {
    @include menu-anim;
}

@for $i from 1 through 4 {
    .vignets-fadein-entree:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        animation-duration: #{$i * 1000}ms;
    }
    .vignets-fadein-plat:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        animation-duration: #{$i * 1000}ms;
    }
    .vignets-fadein-dessert:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        animation-duration: #{$i * 1000}ms;
    }
}

@keyframes fadein {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.vignets-hover {
    animation-name: menuhover;
    animation-duration: 2000ms;
}

@keyframes menuhover {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

// Font Full screen opacity timer 3s
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: loader 1s ease-in-out 3s forwards;
}

// Font gradient full-screen
.loading::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
}

@keyframes loader {
    from{
        visibility: Visible;
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

// Bordure arrondi rose
.spinner {
    position: fixed;
    z-index: 999;
    width: 48px;
    height: 48px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid;
    border-color: $colour-secondary $colour-secondary transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.spinner::after,

// bordure arrondie verte à rotation inverse
.spinner::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent $colour-tertiary $colour-tertiary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

// bordure arrondie violette
.spinner::before {
    width: 32px;
    height: 32px;
    border-color: $colour-primary $colour-primary transparent transparent;
    animation: rotation 1.5s linear infinite;
}

      
@keyframes rotation {
    0% {
        transform: rotate(0deg);
        
    }
    100% {
        transform: rotate(360deg);
    }
} 
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}