.vignets-fadein-entree {
    @include menu-anim;
}

.vignets-fadein-plat {
    @include menu-anim;
}

.vignets-fadein-dessert {
    @include menu-anim;
}

@for $i from 1 through 4 {
    .vignets-fadein-entree:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        animation-duration: #{$i * 1000}ms;
    }
    .vignets-fadein-plat:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        animation-duration: #{$i * 1000}ms;
    }
    .vignets-fadein-dessert:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
        animation-duration: #{$i * 1000}ms;
    }
}

@keyframes fadein {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.vignets-hover {
    animation-name: menuhover;
    animation-duration: 2000ms;
}

@keyframes menuhover {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
