body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7;
}

// H1 Titre restau
h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.menu-body h1{
    font-size: 1.5rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#restaurant h2 {
    padding-left: 1.5rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 0px;
}

h4 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-family: 'Shrikhand', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    position: relative;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, $colour-tertiary 80px, $colour-background-light 50px);
    border-image-slice: 1;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

.plat-title{ 
    h3 {
        margin: 0px;
    }

    p {
    font-size: 0.9rem;
    margin: 0px;
    }
}

.plat-tarif p {
    margin: 0px;
}
    
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    color: $colour-white;
    font-style: normal;
}