#introduction {
    @include margin;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $colour-background-light;
}

.intro_town {
    margin: -0rem;
    background-color: $colour-background-dark;
}

#howto {
    @include margin;
    padding-bottom: 3rem;
}

#restaurant {
    @include margin;
    background-color: $colour-background-light;
}