#introduction {
    margin-left: -1rem;
    margin-right: -0rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $colour-background-light;
}

.intro_town {
    margin: -0rem;
    background-color: $colour-background-dark;
}