main {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#page-up{
    display: flex;
    flex-direction: column;

    @include media-min("desktop-up"){
       flex-direction: row;
       justify-content: space-evenly;
    }
}

#introduction {
    margin: 0px;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $colour-background-light;

    @include media-min("desktop-up"){
        order: 2;
    }

    p {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.intro_town {
    margin: -0rem;
    background-color: $colour-background-dark;
}

#howto {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 3rem;

    @include media-min("desktop-up"){
        order: 1;
    }
}


#restaurant {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 3rem;
}

#restaurant-cards {
    margin: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 3rem;
    background-color: $colour-background-light;
    display: flex;
    flex-direction: column;

    @include media-min("tablet-up"){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card{
    margin: 0.5rem;
    height: 17rem;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;

    @include media-min("tablet-up"){
        width: 40%;
    }

    @include media-min("desktop-up"){
        width: 24%;
    }

    a{
        color: #000;
        text-decoration: none;
    }

    &:hover {
        .card-image img{
                width: 160%;
                filter:grayscale(0);
            }
    }
    
    
}

.card-note > .fa-regular + .fa-solid,

.card-note:hover > .fa-regular {
    display: none;
}

.card-note:hover > .fa-regular + .fa-solid {
    display: inherit;
    background: -webkit-linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s;
}

.card-image{
    height: 175px;
    width: 100%;
    margin-left: -0rem;
    margin-right: -0rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    position: relative;
    
    img {
        width: 120%;
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translate(-60%, -60%);
        filter: grayscale(1);
        transition-property: filter, width;
        transition-duration: .3s;
        transition-timing-function: ease;
        
    }
    span{
        position: absolute;
        padding-left: 13px;
        padding-right: 13px;
        color: #008766;
        @include border($colour-tertiary);
        border-radius: 5px;
        top: 13px;
        right: 10px;
        background-color: $colour-tertiary;
        z-index: 1;
    }
}

.card-body{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    i{
        padding-top: 23px;
        font-size: 21px;
    }
}
