@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin btn {
    padding: $grid-gutter;
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
    border-radius: 45px;
    color: $colour-white;
    background: -webkit-linear-gradient(top, $colour-secondary, $colour-primary);
    cursor: pointer;
    &:hover{
        background: -webkit-linear-gradient(top, $colour-primary, $colour-secondary);
        color: $colour-white;
        transition: .3s;
    }
   
}