@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin btn {
    padding: $grid-gutter;
    margin-top: $grid-gutter;
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
    border-radius: 45px;
    color: $colour-white;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    background: -webkit-linear-gradient(top, $colour-secondary, $colour-primary);
    cursor: pointer;
    &:hover{
        background: -webkit-linear-gradient(top, $colour-primary, $colour-secondary);
        color: $colour-white;
        transition: .3s;
    }
   
}

@mixin margin {
    margin: -1rem -0rem -0.5rem -1rem;
}

@mixin menu-anim {
    animation-name: fadein;
    animation-timing-function: ease-in-out;
}